# This is a basic workflow to help you get started with Actions

name: CI
# Trigger Again with this user account.
# Test Pull Request.
# Controls when the action will run. Triggers the workflow on push for all branches except master branch.
on:
  push:
    branches:
    - 'master'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  job:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/setup-node@v2
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: npm install
        run: npm i
      # Runs a single command using the runners shell
      - name: Create Structure Folder.
        run: npm run zip-folders
      - name: Stamp package json
        id: nbgv
        uses: dotnet/nbgv@v0.4.0
        with:
          stamp: package.json
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.nbgv.outputs.SemVer2 }}
          release_name: Release ${{ steps.nbgv.outputs.SemVer2 }}
      - name: Upload zip folder to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./DOTSTemplates.zip
          asset_name: DOTSTemplates.zip
          asset_content_type: application/zip
