# This is a basic workflow to help you get started with Actions

name: CI
# Trigger Again with this user account.
# Test Pull Request.
# Controls when the action will run. Triggers the workflow on push for all branches except master branch.
on:
  push:
    branches:
    - '**'      # matches every branch
    - '!master' # We want to exclude master, because this will forcefully push changes, we don't want to forcefully push to master.

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  job:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
          check-latest: true
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: npm install
        run: npm i
      # Runs a single command using the runners shell
      - name: Run zip folder generation.
        run: npm run zip-folders
      - name: Add Zip Files to Commit and push
        run: |
          if [ -z "$(git status --porcelain)" ]; then 
            git status
          else 
            git config user.name osobeso
            git config user.email osobeso@github.com
            git add .
            git commit -m "Generating ZipFiles"
            git push
          fi
